In [ ]:
##Importing data

In [3]:
import pandas as pd

data = pd.read_csv('mrip_catch_snapshot.csv', header=0)
print(data.head())

  Estimate Status  Year         Wave Fishing Mode Fishing Area  \
0           FINAL  2010  MARCH/APRIL        SHORE       INLAND
1           FINAL  2010  MARCH/APRIL        SHORE       INLAND
2           FINAL  2010  MARCH/APRIL        SHORE       INLAND
3           FINAL  2010  MARCH/APRIL        SHORE       INLAND
4           FINAL  2010  MARCH/APRIL        SHORE       INLAND

          Species Group             Sub Group  Observed Harvest (A)   PSE  \
0  CARTILAGINOUS FISHES           SKATES/RAYS                     0     .
1             CATFISHES  FRESHWATER CATFISHES                 35600  63.5
2          OTHER FISHES          OTHER FISHES                 53567  60.7
3      TEMPERATE BASSES          STRIPED BASS                     0     .
4      TEMPERATE BASSES           WHITE PERCH               1313617  60.8

   Reported Harvest (B1) PSE.1  Released Alive (B2)  PSE.2
0                      0     .                10143  105.8
1                      0     .                60656   68.6
2                      0     .               284146   58.3
3                      0     .               714968   84.8
4                      0     .              1302508   82.8

In [5]:
catch_effort = pd.read_csv('mrip_effort_series.csv', header=0)
print(catch_effort.head())

  Estimate Status  Year         Wave  Fishing Mode     Fishing Area  \
0           FINAL  2010  MARCH/APRIL         SHORE  OCEAN (<= 3 MI)
1           FINAL  2010  MARCH/APRIL         SHORE           INLAND
2           FINAL  2010  MARCH/APRIL    PARTY BOAT   OCEAN (> 3 MI)
3           FINAL  2010  MARCH/APRIL    PARTY BOAT           INLAND
4           FINAL  2010  MARCH/APRIL  CHARTER BOAT   OCEAN (> 3 MI)

   Angler Trips    PSE
0          4436  109.6
1        730139   19.1
2           788    8.6
3             2    8.6
4             7   17.3

In [13]:
data2 = pd.read_csv('mrip_catch_snapshoted.csv', header=0)

In [6]:
## Eploring data...

In [17]:
print(data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   2848 non-null   int64
 1   Wave                   2848 non-null   object
 2   Fishing Mode           2848 non-null   object
 3   Fishing Area           2848 non-null   object
 4   Species Group          2848 non-null   object
 5   Sub Group              2848 non-null   object
 6   Observed Harvest (A)   2848 non-null   int64
 7   PSE                    2848 non-null   object
 8   Reported Harvest (B1)  2848 non-null   int64
 9   PSE.1                  2848 non-null   object
 10  Released Alive (B2)    2848 non-null   int64
 11  PSE.2                  2848 non-null   object
 12  Total                  2848 non-null   int64
 13  Angler Trips           2848 non-null   int64
 14  AngPSE                 2848 non-null   float64
dtypes: float64(1), int64(6), object(8)
memory usage: 333.9+ KB
None

In [20]:
print(data2['Total'].describe())

count    2.848000e+03
mean     1.599457e+05
std      5.131743e+05
min      0.000000e+00
25%      5.690000e+02
50%      6.299500e+03
75%      6.777200e+04
max      7.622662e+06
Name: Total, dtype: float64