In [ ]:
##Importing data

In [3]:
import pandas as pd

data = pd.read_csv('mrip_catch_snapshot.csv', header=0)
print(data.head())

  Estimate Status  Year         Wave Fishing Mode Fishing Area  \
0           FINAL  2010  MARCH/APRIL        SHORE       INLAND
1           FINAL  2010  MARCH/APRIL        SHORE       INLAND
2           FINAL  2010  MARCH/APRIL        SHORE       INLAND
3           FINAL  2010  MARCH/APRIL        SHORE       INLAND
4           FINAL  2010  MARCH/APRIL        SHORE       INLAND

          Species Group             Sub Group  Observed Harvest (A)   PSE  \
0  CARTILAGINOUS FISHES           SKATES/RAYS                     0     .
1             CATFISHES  FRESHWATER CATFISHES                 35600  63.5
2          OTHER FISHES          OTHER FISHES                 53567  60.7
3      TEMPERATE BASSES          STRIPED BASS                     0     .
4      TEMPERATE BASSES           WHITE PERCH               1313617  60.8

   Reported Harvest (B1) PSE.1  Released Alive (B2)  PSE.2
0                      0     .                10143  105.8
1                      0     .                60656   68.6
2                      0     .               284146   58.3
3                      0     .               714968   84.8
4                      0     .              1302508   82.8

In [5]:
catch_effort = pd.read_csv('mrip_effort_series.csv', header=0)
print(catch_effort.head())

  Estimate Status  Year         Wave  Fishing Mode     Fishing Area  \
0           FINAL  2010  MARCH/APRIL         SHORE  OCEAN (<= 3 MI)
1           FINAL  2010  MARCH/APRIL         SHORE           INLAND
2           FINAL  2010  MARCH/APRIL    PARTY BOAT   OCEAN (> 3 MI)
3           FINAL  2010  MARCH/APRIL    PARTY BOAT           INLAND
4           FINAL  2010  MARCH/APRIL  CHARTER BOAT   OCEAN (> 3 MI)

   Angler Trips    PSE
0          4436  109.6
1        730139   19.1
2           788    8.6
3             2    8.6
4             7   17.3

In [24]:
df = pd.merge(data, catch_effort, how='left', on=['Year', 'Wave', 'Fishing Mode', 'Fishing Area'])
df

,Estimate Status_x,Year,Wave,Fishing Mode,Fishing Area,Species Group,Sub Group,Observed Harvest (A),PSE_x,Reported Harvest (B1),PSE.1,Released Alive (B2),PSE.2,Estimate Status_y,Angler Trips,PSE_y
0,FINAL,2010,MARCH/APRIL,SHORE,INLAND,CARTILAGINOUS FISHES,SKATES/RAYS,0,.,0,.,10143,105.8,FINAL,730139,19.1
1,FINAL,2010,MARCH/APRIL,SHORE,INLAND,CATFISHES,FRESHWATER CATFISHES,35600,63.5,0,.,60656,68.6,FINAL,730139,19.1
2,FINAL,2010,MARCH/APRIL,SHORE,INLAND,OTHER FISHES,OTHER FISHES,53567,60.7,0,.,284146,58.3,FINAL,730139,19.1
3,FINAL,2010,MARCH/APRIL,SHORE,INLAND,TEMPERATE BASSES,STRIPED BASS,0,.,0,.,714968,84.8,FINAL,730139,19.1
4,FINAL,2010,MARCH/APRIL,SHORE,INLAND,TEMPERATE BASSES,WHITE PERCH,1313617,60.8,0,.,1302508,82.8,FINAL,730139,19.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,FINAL,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,OTHER FISHES,OTHER FISHES,14682,57.5,0,.,298869,18.8,FINAL,225163,21.8
2844,FINAL,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,TEMPERATE BASSES,STRIPED BASS,87647,35.1,31024,38.9,449166,28.8,FINAL,225163,21.8
2845,FINAL,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,TEMPERATE BASSES,WHITE PERCH,30297,64.3,31248,82.7,95671,45.6,FINAL,225163,21.8
2846,FINAL,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,TOADFISHES,TOADFISHES,0,.,0,.,763,69.7,FINAL,225163,21.8
2847,FINAL,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,WRASSES,TAUTOG,736,72.8,0,.,16441,78,FINAL,225163,21.8

In [26]:
df.rename(columns = {'Observed Harvest (A)':'A', 'Reported Harvest (B1)':'B1', 'Released Alive (B2)':'B2'}, inplace = True)

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2848 entries, 0 to 2847
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estimate Status_x  2848 non-null   object
 1   Year               2848 non-null   int64
 2   Wave               2848 non-null   object
 3   Fishing Mode       2848 non-null   object
 4   Fishing Area       2848 non-null   object
 5   Species Group      2848 non-null   object
 6   Sub Group          2848 non-null   object
 7   A                  2848 non-null   int64
 8   PSE_x              2848 non-null   object
 9   B1                 2848 non-null   int64
 10  PSE.1              2848 non-null   object
 11  B2                 2848 non-null   int64
 12  PSE.2              2848 non-null   object
 13  Estimate Status_y  2848 non-null   object
 14  Angler Trips       2848 non-null   int64
 15  PSE_y              2848 non-null   object
dtypes: int64(5), object(11)
memory usage: 378.2+ KB
None

In [6]:
## Eploring data...

#Columns: Year - Year
#    Wave - 2 month period 
#   Fishing Mode - where fishing took place (from shore or type of boat)
#   Fishing Area - inland (but not freshwater), near-shore (within 3 miles of shore), and off-shore (over 3 miles from shore)
#   Species Group - Type of fish
#   Subgroup - More specific description of fish
#   A - Observed Harvest - NOAA official observed
#   PSE - Percent standard error. Error over 50 indicates a pretty unreliable number
#   B1 - Reported Harvest - Fisher reported but was not observed by NOAA
#   B2 - Released Alive - fish were caught and released
#   Angler Trips - number of trips reported to NOAA 
#   PSE_y - Percent standard error in angler trip number

In [29]:
df['total'] = df.A + df.B1 + df.B2
#Total - Observed Harvest + Reported Harvest + Released Alive
df

,Estimate Status_x,Year,Wave,Fishing Mode,Fishing Area,Species Group,Sub Group,A,PSE_x,B1,PSE.1,B2,PSE.2,Estimate Status_y,Angler Trips,PSE_y,total
0,FINAL,2010,MARCH/APRIL,SHORE,INLAND,CARTILAGINOUS FISHES,SKATES/RAYS,0,.,0,.,10143,105.8,FINAL,730139,19.1,10143
1,FINAL,2010,MARCH/APRIL,SHORE,INLAND,CATFISHES,FRESHWATER CATFISHES,35600,63.5,0,.,60656,68.6,FINAL,730139,19.1,96256
2,FINAL,2010,MARCH/APRIL,SHORE,INLAND,OTHER FISHES,OTHER FISHES,53567,60.7,0,.,284146,58.3,FINAL,730139,19.1,337713
3,FINAL,2010,MARCH/APRIL,SHORE,INLAND,TEMPERATE BASSES,STRIPED BASS,0,.,0,.,714968,84.8,FINAL,730139,19.1,714968
4,FINAL,2010,MARCH/APRIL,SHORE,INLAND,TEMPERATE BASSES,WHITE PERCH,1313617,60.8,0,.,1302508,82.8,FINAL,730139,19.1,2616125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,FINAL,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,OTHER FISHES,OTHER FISHES,14682,57.5,0,.,298869,18.8,FINAL,225163,21.8,313551
2844,FINAL,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,TEMPERATE BASSES,STRIPED BASS,87647,35.1,31024,38.9,449166,28.8,FINAL,225163,21.8,567837
2845,FINAL,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,TEMPERATE BASSES,WHITE PERCH,30297,64.3,31248,82.7,95671,45.6,FINAL,225163,21.8,157216
2846,FINAL,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,TOADFISHES,TOADFISHES,0,.,0,.,763,69.7,FINAL,225163,21.8,763
2847,FINAL,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,WRASSES,TAUTOG,736,72.8,0,.,16441,78,FINAL,225163,21.8,17177

In [30]:
df.drop(columns=['Estimate Status_x', 'Estimate Status_y'])

,Year,Wave,Fishing Mode,Fishing Area,Species Group,Sub Group,A,PSE_x,B1,PSE.1,B2,PSE.2,Angler Trips,PSE_y,total
0,2010,MARCH/APRIL,SHORE,INLAND,CARTILAGINOUS FISHES,SKATES/RAYS,0,.,0,.,10143,105.8,730139,19.1,10143
1,2010,MARCH/APRIL,SHORE,INLAND,CATFISHES,FRESHWATER CATFISHES,35600,63.5,0,.,60656,68.6,730139,19.1,96256
2,2010,MARCH/APRIL,SHORE,INLAND,OTHER FISHES,OTHER FISHES,53567,60.7,0,.,284146,58.3,730139,19.1,337713
3,2010,MARCH/APRIL,SHORE,INLAND,TEMPERATE BASSES,STRIPED BASS,0,.,0,.,714968,84.8,730139,19.1,714968
4,2010,MARCH/APRIL,SHORE,INLAND,TEMPERATE BASSES,WHITE PERCH,1313617,60.8,0,.,1302508,82.8,730139,19.1,2616125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,OTHER FISHES,OTHER FISHES,14682,57.5,0,.,298869,18.8,225163,21.8,313551
2844,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,TEMPERATE BASSES,STRIPED BASS,87647,35.1,31024,38.9,449166,28.8,225163,21.8,567837
2845,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,TEMPERATE BASSES,WHITE PERCH,30297,64.3,31248,82.7,95671,45.6,225163,21.8,157216
2846,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,TOADFISHES,TOADFISHES,0,.,0,.,763,69.7,225163,21.8,763
2847,2019,NOVEMBER/DECEMBER,PRIVATE/RENTAL BOAT,INLAND,WRASSES,TAUTOG,736,72.8,0,.,16441,78,225163,21.8,17177